.site-footer {
    background-color: #002529;
    background-size: 100%;
    padding: 48px 164px;
}


.site-footer__list {
    @include flex($justify: null);
    @include util;
}

.site-footer__item:nth-child(3) {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo__footer {
    margin-bottom: 25px;
}

.item__desc {
    margin: 0;
    margin-left: 125px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.icons {
    @include flex($justify:end);
}

.icons__img + .icons__img {
    margin-left: 16px;
}

.item__copy {
    margin-top: 51px;
    align-self: flex-end;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}

@include media(768px) {
    .site-footer {
        padding: 56px 0;
    }
}