.starter {
    width: 100%;
    background-color:#F67E7E;
    background-size: contain;
    position: relative;
    
    
    &::before {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 144px;
        background-image: url('../../images/starter.svg');
        background-repeat: no-repeat;
    }
}

.starter__inner {
    padding: 76px 0;
}

.starter__content {
    @include flex;
    width: 100%;
    max-width: 917px;
    margin: 0 auto;
}

.starter__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #012F34;
}

.starter__link {
    padding: 10px 33px;
    border: 2px solid #012F34;
    border-radius: 24px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;    
    color: #012F34;
    transition: all .4s ease;
    
    &:active {
        background: #012F34;
        color: #FFFFFF;
    }
}

@include media(768px) {
    .starter {
        &::before {
            content: "";
            height: 122px;
        }
    }

    .starter__inner {
        padding: 90px 0;
    }    

    .starter__content {
        max-width: 573px;
    }

    .starter__title {
        font-size: 32px;
        line-height: 32px;
    }
    
    .starter__link {
        padding: 9px 32px;
    }
}
